
.main-container {
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw; 
  background: url('../../images/spaceBackground.gif'); /* Adjusted path */
}

.black-square {
  display: flex;
  justify-content: center;
  z-index: 5;
  width: 600px; 
  height: 600px; 
  background:  #d60000; /* Example gradient */
  border-radius: 30px;
  box-shadow:
  0 20px 60px 20px rgba(255, 0, 0, 0.3), /* Large, soft shadow */
  0 15px 40px 15px rgba(255, 0, 0, 0.35), /* Medium shadow */
  0 10px 20px 10px rgba(255, 0, 0, 0.4); /* Smaller, more focused shadow */
}


.gameboy {
  z-index: 3;
  width: 494px; 
  height: 794px; 
  overflow: hidden;
  background: url('../../images/gameboy.png'); /* Adjusted path */

}